

  header {
    padding: 20px;
    margin-bottom: 20px;
    color: #777;
    background: #ebebeb;
    border: 20px solid #777;
  }
  /**agghhh... ok taking a break, coming back in a little bit to look at border px differences, and margins in a few minutes 9:21, 12/21**/
  nav { 
    padding: 20px;
    margin-bottom: 20px;
    color: #777;
    background: #ebebeb;
    border: 20px solid #777;
    

  }

  body {
    padding: 0;
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    font-size: 18px;
    line-height: 150%;
    
    background: #777;
  }
  

  

  .container {
    width: 1024px;
    margin: 0 auto;
  }
  
  .Section 
    /**  Not able to flip colors for Article, and not yet able to place boxes within the article box will continue looking at until submission of assignment (probably even later) **/
  .article { 
    color: #ebebeb; background:#777;

  }


  * {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-sarif;
  color: #777;
  background: #777;
  width: '960px';
  font-size: 18px;
}

/* article {
  
    border: 5px solid 777;
    color: #ebebeb;
    background: #777;
    
  } */




aside {
  float: left;
  width: 33%;
  height: 200px;
  padding: 20px;
  margin-left: 140px;
  text-decoration-color: white;
  background: #ebebeb;
  border: 1px solid #ebebeb;
}

footer {
  padding: 20px;
  clear: both;
  background: #ebebeb;
  border: 20px solid #777;
}
